/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
body {
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
}

#status-nav {
  height: 15px;
  width: 100%;
  background-color: #D32F2F;
}

#head-nav {
  display: table;
  height: 60px;
  width: 100%;
  background-color: #F44336;
}

#head-nav h1 {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding-left: 15px;
  font-style: normal;
}

ul#parent-list {
  list-style-type: none;
  padding: 0;
}

a.child-list-link {
  text-decoration: none;
}

ul#parent-list li ul.child-list {
  list-style-type: none;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

ul#parent-list li ul.child-list:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

li.title-item {
  font-size: 20px;
  color: #000;
  margin-bottom: 7px;
}

li.subtitle-item {
  font-size: 14px;
  color: #616161;
}

#fab {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#fab h4 {
  font-weight: normal;
  margin: 0;
  line-height: 50px;
  text-align: center;
}

#fab:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.show-button-container {
  width: 100%;
}

.btn-show {
  float: left;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #0288D1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-show:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-show-form {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #0288D1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul#show-item-container {
  margin-left: 15px;
  padding: 0;
  list-style-type: none;
}

.show-item-title {
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.show-item-subtitle {
  font-size: 16px;
  color: #616161;
  margin-bottom: 10px;
}

#form-container {
  margin-left: 15px;
}

.form-text {
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid #BDBDBD;
  background-color: transparent;
}

.form-text:focus {
  outline-width: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.form-text-label {
  margin-top: 15px;
}
